{% extends 'base.html.twig' %}

{% set citation = [] %}
{% set banner = [] %}
{% set description = [] %}
{% set image = [] %}
{% set counters = [] %}


{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

    {% for key, setting in settings %}

        {% if 'citation' in setting.slug %}
            {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% set settings = settings|slice(key) %}
        {% elseif 'banner' in setting.slug %}
            {% set banner = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'counter' in setting.slug %}
            {% set counters = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'description' in setting.slug and 'meta' not in setting.slug %}
            {% set description = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'image' in setting.slug %}
            {% set image = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% endif %}



    {% endfor %}


{% block header %}

    <!-- Particlesground header -->
    <header class="page-header parallax-section " data-stellar-background-ratio="0.5"
            style="background-image: url({{ asset(banner|length >0 ? banner.downloadLink : 'bundles/app/img/header4.jpg')|lbImageFilter('banner_home') }});">
        <div class="container">
            <h2>{{ data.name }}</h2>
            <ul id="breadcrumbs" class="breadcrumbs">
                <li class="item-home">
                    <a class="bread-link bread-home" href="{{ path('homepage') }}" title="Главное">Home</a>
                </li>
                <li class="separator separator-home"><span class="delimiter"> | </span></li>
                <li class="item-current item-95"><span class="bread-current ">{{ data.name }}</span>
                </li>
               {% if citation|length >0 %} <li class="item-current item-95"><span class="bread-current ">{{- citation.value -}}</span>
                </li>{% endif %}
            </ul>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section class="section about-section">
        <div class="container">
            <div class="row space-between">
                <div class="col-md-12 col-lg-6 col-xl-5 ">
                    <h2>About <span class="main-color"> Techno Foam LLC </span></h2>
                    {{ description.value|raw }}
                </div>
                <div class=" img-block offset-md-1  col-md-10  offset-lg-0 col-lg-6 col-xl-6">
                    <img src="{{ asset(image.downloadLink)|lbImageFilter('list_big') }}" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    {% if counters|length >0 %}

        {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':counters.objectClass, 'objectId':counters.id } ))|json_decode %}

        {% set background = [] %}
        {% set counter = [] %}

        {% for key,setting in settings %}

                {% if 'background' in setting.slug %}
                    {% set background = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                {% else %}
                    {% set counter = counter|merge([render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode]) %}
                {% endif %}

        {% endfor %}

{% if counter|length > 0 %}
    <div class="section counters-section "
         style="background-image: url({{ background|length>0 ? asset(background.downloadLink)|lbImageFilter('banner_home') : asset('bundles/app/img/counters.jpg') }});">
            <div class="container">
                <div class="row counters">


                {% for key,count in counter %}
                    {% set name = [] %}
                    {% set value = [] %}
                    {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':count.objectClass, 'objectId':count.id } ))|json_decode %}

                    {% for setting in settings %}

                        {% if 'name' in setting.slug %}
                            {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                        {% elseif 'value' in setting.slug %}
                            {% set value = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                        {% endif %}

                    {% endfor %}
                    <div class="col-md-6 col-lg-3">
                        <div class="item">
                            <div class="round" id="counter{{ key+1 }}" data-count="{{ value.value }}" data-fill="{{ random(range(70,100)) }}"></div>
                            <h5>{{ name.value }}</h5>
                        </div>
                    </div>

                {% endfor %}

                </div>
            </div>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}