
{% if data|length >0  %}


    {% set citation = [] %}
    {% set title = [] %}
    {% set address = [] %}
    {% set tel = [] %}
    {% set email = [] %}


    {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

    {% for key, setting in settings %}

        {% if 'citaion' in setting.slug %}
            {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'title' in setting.slug %}
            {% set title = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'address' in setting.slug %}
            {% set address = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'tel' in setting.slug and 'meta' not in setting.slug %}
            {% set tel = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'email' in setting.slug %}
            {% set email = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% endif %}
    {% endfor %}
{#{{ dump(title) }}#}

    <section class="section form-section grey-section">
    <div class="container">
        <h2 class="center">{{ title.value }}</h2>
        {% if citation.value|split('||')|length >1 %}
            {% set citation = citation.value|split('||') %}

            {% for t in citation %}
                <h6 class="center">{{ t }}</h6>
            {% endfor %}
        {% else %}
            <h6 class="center">
                {{ citation.value }}</h6>
        {% endif %}

        <div class="row form-sec-flex">
            {{ form_start(form, {'attr':{'class':'form'}}) }}
                <div class="form-flex">
                    <div class="col-md-12 col-lg-4">
                        <div class="form-group ">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="form-group ">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="form-group ">
                            {{ form_widget(form.phone) }}
                        </div>
                    </div>
                </div>
                <div class="form-flex">
                    <div class="col-md-12">
                        <div class="form-group ">
                            {{ form_widget(form.message) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button class="btn btn1 " type="submit">
                            <span class="mask">Send</span>
                            <span>Send</span>
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</section>
<!-- Icons section -->
<section class="section fa-section" id="contact">
    <div class="container">
        <div class="row icons-flex">
            <div class="col item">
                <div class="icon fa fa-map-o"></div>
                <h4 class="title">Address</h4>
                <p class="description">{{ address.value }} </p>
            </div>
            <div class="col item">
                <div class="icon fa fa-phone"></div>
                <h4 class="title">Phone</h4>
                {% if tel.value|split('||')|length >1 %}
                    {% set tel = tel.value|split('||') %}

                    {% for t in tel %}
                        <p class="description">{{ t }}</p>
                        {% endfor %}
                    {% else %}
                        <p class="description">{{ tel.value }}</p>
                    {% endif %}
            </div>
            <div class="col item">
                <div class="icon fa fa-envelope-o"></div>
                <h4 class="title">Email</h4>
                <p class="description">{{ email.value }}</p>
            </div>
        </div>
    </div>
</section>

{% endif %}