<p>{{ data['name'] ? 'Request from : ' ~data['name']:''}}</p>
<p>{{ data['email'] ? 'Email : ' ~data['email']:''}}</p>
<p>{{ data['phone'] ? 'Phone : ' ~data['phone']:''}}</p>
<p>{{ data['message'] ? data['message']:''}}</p>
