{% extends 'base.html.twig' %}

{% set citation = [] %}
{% set banner = [] %}
{% set metaTitle = [] %}
{% set metaDescription = [] %}
{% set description = [] %}
{% set portfolio = {} %}


{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

    {% for key, setting in settings %}

        {% if 'citation' in setting.slug %}
            {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'banner' in setting.slug %}
            {% set banner = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'meta-title' in setting.slug %}
            {% set metaTitle = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'meta-description' in setting.slug %}
            {% set metaDescription = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'description' in setting.slug and 'meta-description' not in setting.slug %}
            {% set description = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% else %}
            {% set portfolio = portfolio|merge([
           render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode]) %}
        {% endif %}



    {% endfor %}


{% block header %}

    <!-- Particlesground header -->
    <header class="page-header parallax-section " data-stellar-background-ratio="0.5"
            style="background-image: url({{ asset(banner|length >0 ? banner.downloadLink : 'bundles/app/img/header4.jpg')|lbImageFilter('banner_home') }});">
        <div class="container">
            <h2>{{ data.name }}</h2>
            <ul id="breadcrumbs" class="breadcrumbs">
                <li class="item-home">
                    <a class="bread-link bread-home" href="{{ path('homepage') }}" title="Главное">Home</a>
                </li>
                <li class="separator separator-home"><span class="delimiter"> | </span></li>
                <li class="item-current item-95"><span class="bread-current ">{#{{ data.name }}#}</span>
                </li>
                {% if citation|length >0 %} <li class="item-current item-95"><span class="bread-current ">{{- citation.value -}}</span>
                    </li>{% endif %}
            </ul>
        </div>
    </header>
{% endblock header %}

{% block content %}

    <section class="portfolio-section section">
        <div class="container">
            <h2 class="center">Our <span class="main-color">Works</span></h2>
            <h6 class="center">{{ description.value|raw }}</h6>
            {#{{ dump(portfolio) }}#}
            {% set types = ['insulation','waterproofing','roofing','fireproofing','soundproofing'] %}
            <ul class="filters ">
                <li>
                    <a href="#" class="filter active" data-filter="*">All Projects</a>
                </li>
                {% for type in types %}
                <li>
                    <a href="#" class="filter" data-filter=".{{ type }}">{{ type|replace({'-': ' '})|capitalize }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="full-container">
            <div class="container">
                <div class="row masonry-list">

                    {% for item in portfolio %}

                        {% set class = item.slug|split('-') %}

                        <div class="col-6 col-md-6 col-lg-4 item {{ class[0] }}">


                        {% set name = [] %}
                        {% set image = [] %}
                        {% set description = [] %}
                            {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':item.objectClass, 'objectId':item.id } ))|json_decode %}

                        {% for key, setting in settings %}

                            {% if 'name' in setting.slug %}
                                {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                                {% set settings = settings|slice(key) %}
                            {% elseif 'image' in setting.slug %}
                                {% set image = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                                {% set settings = settings|slice(key) %}
                            {% elseif 'description' in setting.slug %}
                                {% set description = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
                                {% set settings = settings|slice(key) %}
                            {% endif %}

                        {% endfor %}

                            <div class="item-grid">
                                <img src="{{ asset(image.downloadLink)|lbImageFilter('portfolio_smal') }}" alt="">
                                <a href="#" class="hover">
                                    <h5 class="title">{{ name.value }}</h5>
                                    <p class="cat">{{ description.value }}</p>
                                </a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    {% if services|length >0 %}
        {% for key, service in services %}
        <section class="section grey-section image-section">
            <div class="row">
                {% if key%2==0 %}
                <div class="col-lg-6 content item">
                    <div class="wrap">
                        <h2>{{ service.name }}</h2>
                        <p>{{ service.description }}</p>
                        {#<a href="#" class="btn btn1">
                            <div class="mask">Read More</div>
                            <span>Read More</span>
                        </a>#}
                    </div>
                </div>
                <div class="col-lg-6 image item" style="background-image:url({{ asset(service.downloadLink) }})">
                    <img src="{{ service.downloadLink }}" class="img-responsive" alt="">
                </div>
                {% else %}
                    <div class="col-lg-6 image item" style="background-image:url({{ service.downloadLink }})">
                        <img src="{{ service.downloadLink }}" class="img-responsive" alt="">
                    </div>
                    <div class="col-lg-6 content item">
                        <div class="wrap">
                            <h2>{{ service.name }}</h2>
                            <p>{{ service.description }}</p>
                            {#<a href="#" class="btn btn1">
                                <div class="mask">Read More</div>
                                <span>Read More</span>
                            </a>#}
                        </div>
                    </div>

                {% endif %}
            </div>
        </section>
        {% endfor %}
    {% endif %}

{% endblock %}