{% extends 'base.html.twig' %}

{% set citation = [] %}
{% set banner = [] %}
{% set metaTitle = [] %}
{% set metaDescription = [] %}


{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

    {% for key, setting in settings %}

        {% if 'citation' in setting.slug %}
            {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'banner' in setting.slug %}
            {% set banner = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% elseif 'meta-title' in setting.slug %}
            {% set metaTitle = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
         {% elseif 'meta-description' in setting.slug %}
            {% set metaDescription = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
        {% endif %}



    {% endfor %}


{% block header %}

    <!-- Particlesground header -->
    <header class="page-header parallax-section " data-stellar-background-ratio="0.5"
            style="background-image: url({{ asset(banner|length >0 ? banner.downloadLink : 'bundles/app/img/header4.jpg')|lbImageFilter('banner_home') }});">
        <div class="container">
            <h2>{{ data.name }}</h2>
            <ul id="breadcrumbs" class="breadcrumbs">
                <li class="item-home">
                    <a class="bread-link bread-home" href="{{ path('homepage') }}" title="Home">Home</a>
                </li>
                <li class="separator separator-home"><span class="delimiter"> | </span></li>
                <li class="item-current item-95"><span class="bread-current ">{#{{ data.name }}#}</span>
                </li>
                {% if citation|length >0 %} <li class="item-current item-95"><span class="bread-current ">{{- citation.value -}}</span>
                    </li>{% endif %}
            </ul>
        </div>
    </header>
{% endblock header %}

{% block content %}

    {% if services|length >0 %}
        {% for key, service in services %}
        <section class="section grey-section image-section">
            <div class="row">
                {% if key%2==0 %}
                <div class="col-lg-6 content item">
                    <div class="wrap">
                        <h2>{{ service.name }}</h2>
                        <p>{{ service.description }}</p>
                        {#<a href="#" class="btn btn1">
                            <div class="mask">Read More</div>
                            <span>Read More</span>
                        </a>#}
                    </div>
                </div>
                <div class="col-lg-6 image item" style="background-image:url({{ asset(service.downloadLink)|lbImageFilter('list_big') }})">
                    <img src="{{ asset(service.downloadLink)|lbImageFilter('list_smal') }}" class="img-responsive" alt="">
                </div>
                {% else %}
                    <div class="col-lg-6 image item" style="background-image:url({{ asset(service.downloadLink)|lbImageFilter('list_big') }})">
                        <img src="{{ asset(service.downloadLink)|lbImageFilter('list_smal') }}" class="img-responsive" alt="">
                    </div>
                    <div class="col-lg-6 content item">
                        <div class="wrap">
                            <h2>{{ service.name }}</h2>
                            <p>{{ service.description }}</p>
                            {#<a href="#" class="btn btn1">
                                <div class="mask">Read More</div>
                                <span>Read More</span>
                            </a>#}
                        </div>
                    </div>

                {% endif %}
            </div>
        </section>
        {% endfor %}
    {% endif %}

{% endblock %}