<!doctype html>
<html lang="en">

<!-- Mirrored from andriy-differ.tk/elenor/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:08 GMT -->
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-transcluent">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="Elenor">
    <meta name="application-name" content="Elenor">
    <meta name="description" content="Elenor - Creative HTML Template">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
        {% block meta_seo %}
            <meta content="" name="description"/>
            <meta content="" name="keywords"/>
            <meta content="http://merx.usavin.com" name="author"/>
            <meta property="og:title" content="Welcome to Techno Foam LLC / New York"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="http://technofoamllc.com/"/>
            <meta property="og:image" content="{{ asset('bundles/app/img/logo.png') }}"/>
            <meta property="og:description"
                  content="Techno Foam LLC is a global manufacturer and supplier of state-of-the-art spray polyurethane foam insulation (spf or spray foam), reflective roof coatings, and rigs and equipment — designed to reduce energy consumption in the residential, industrial, and commercial structures. / New York"/>
            <meta property="og:image:width" content="1800"/>
            <meta property="og:image:height" content="945"/>
        {% endblock %}
    {% endblock meta %}
    <title>{% block title %}Techno Foam!{% endblock %}</title>
    {% block stylesheets %}

        <!-- Style -->
        <link rel="stylesheet" href="{{ asset('bundles/app/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/libs/bootstrap4-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/libs/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/libs/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}">
    {% endblock %}
</head>
<body class="preload">

<!-- Preloader -->
<div class="preloader">
    <div class="preloader-icon relative">
        <div class="loader">
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</div>

{% block navebar %}
<!-- Navigation -->
<nav class="nav main-nav">
    <div class="container">
        <div class="menu-flex">
            <div class="logo">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/app/img/logo.png') }}" alt="Logo">
                </a>
            </div>
            <div class="menu-toggle">
                <div class="menu-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
            <div class="menu-wrap">
                <ul class="menu">
                    <li class="menu-item {#current_page_item#}"><a href="{{ path('homepage') }}">Home</a></li>
                    <li class="menu-item">
                        <a href="{{ path('page-single', {'slug':'about'}) }}">About</a>
                    </li>
                    <li class="menu-item {#menu-item-has-children#}">
                        <a href="{{ path('page-single', {'slug':'service'}) }}">Services</a>
                    </li>
                    <li class="menu-item ">
                        <a href="{{ path('page-single', {'slug':'our-works'}) }}">Our Works</a>
                    </li>
                    <li class="menu-item "><a href="#contact">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% block header %}
<!-- Header slider -->
<header class="header header-slider">
    <div class="item parallax-section" style="background-image: url({{ asset('bundles/app/img/header1.jpg') }});"  data-stellar-background-ratio="0.5">
        <h1>Andrew Elenor </h1>
        <h4>Designer | Developer | Photographer</h4>
    </div>
    <div class="item parallax-section" style="background-image: url({{ asset('bundles/app/img/header6.jpg') }});"  data-stellar-background-ratio="0.5">
        <h1> Elenor Agency </h1>
        <h4>Design | SEO & SMM | Development</h4>
    </div>

</header>
{% endblock header %}

{% block content %}
<!-- Direction section -->
<section class="section icons-section">
    <div class="container">
        <h2 class="center">Main <span class="main-color">Elenor</span> Directions</h2>
        <h6 class="center">We offer a wide-range of financial and accounting services to all types of businesses.
            Learn more about our main directions and select what you need. We also provide the
            first-time consultation.</h6>

        <div class="row direction-flex">
            <div class="col-lg-8 col-xl-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('bundles/app/img/icons/icon4.png') }}" alt="">
                    </div>
                    <h4 class="title">Web Development & Design</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been
                        the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-lg-8 col-xl-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('bundles/app/img/icons/icon2.png')}}" alt="">
                    </div>
                    <h4 class="title">Digital Branding & Marketing</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been
                        the industry's standard dummy text.</p>
                </div>
            </div>
            <div class="col-lg-8 col-xl-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('bundles/app/img/icons/icon3.png')}}" alt="">
                    </div>
                    <h4 class="title">Search Analytics & Marketing</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been
                        the industry's standard dummy text.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Image section -->
<section class="section grey-section image-section">
    <div class="row">
        <div class="col-lg-6 image item" style="background-image:url('{{ asset('bundles/app/img/mobile.jpg') }}')">
            <img src="{{ asset('bundles/app/img/mobile.jpg') }}" class="img-responsive" alt="">
        </div>
        <div class="col-lg-6 content item">
            <div class="wrap">
                <h2>Optimized for mobile</h2>
                <p>Our strong conviction is that if a business is to be optimized, it’s to be optimized in a full cycle
                    manner!</p>
                <p>Our goal is simple; we want to help your business achieve the greatest possible success by providing
                    the valuable services you need at a reasonable cost. We believe all businesses small and large
                    should have access to world-class accounting, bookkeeping, payroll and consulting services. We are
                    dedicated to serving you.</p>
                <a href="#" class="btn btn1">
                    <div class="mask">Read More</div>
                    <span>Read More</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Image section -->
<section class="section grey-section image-section">
    <div class="row">
        <div class="col-lg-6 content item">
            <div class="wrap">
                <h2>Page Speed Optimized</h2>
                <p>Our strong conviction is that if a business is to be optimized, it’s to be optimized in a full cycle
                    manner!</p>
                <p>Our goal is simple; we want to help your business achieve the greatest possible success by providing
                    the valuable services you need at a reasonable cost. We believe all businesses small and large
                    should have access to world-class accounting, bookkeeping, payroll and consulting services. We are
                    dedicated to serving you.</p>
                <a href="#" class="btn btn1">
                    <div class="mask">Read More</div>
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 image item" style="background-image:url('{{ asset('bundles/app/img/speed.jpg') }}')">
            <img src="{{ asset('bundles/app/img/speed.jpg') }}" class="img-responsive" alt="">
        </div>
    </div>
</section>
{% endblock %}
{% block subscribe %}
<!-- Newsletter form -->
{#<section class="section subscribe parallax-section" data-stellar-background-ratio="0.5"
         style="background-image: url('img/newsletter.jpg')">
    <div class="overlay">
    </div>

    <div class="container">
        <h2 class="white center"> Subscribe to our newsletter</h2>

        <div class="row ">
            <div class="offset-lg-2 col-lg-8">
                <form class="newsletter-form">
                    <input name="email" id="email_id" required type="text" placeholder="Email Address">
                    <button type="submit" class="default-submit"><i class="fa fa-envelope-o"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>#}
{% endblock %}

{% block contact %}
<!-- Form -->
{{ render(controller('AppBundle:Main:contact')) }}

<!-- Google map -->
<div class="map wide" style="height: 500px"></div>
{% endblock %}
{% block footer %}
<!-- Footer -->
<footer class="footer">
    <div class="bot">
        <div class="container">
            <div class="row footer-flex">
                <div class="copy">&copy; 2017 All Rights Reserved | Techno Foam LLC | <a href="https://merxforum.com/" target="_blank" >Developed by MerxForum</a></div>
                {#<div class="social">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>#}
            </div>
        </div>
    </div>

</footer>
{% endblock %}
<!-- Up button -->
<div class="up">
    <div class="fa fa-angle-up"></div>
</div>
{% block js %}

<!-- Scripts -->
<script src="{{ asset('bundles/app/js/libs/jquery.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/jquery.stellar.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/imagesloaded.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/differgrid.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/particlesground.js') }}"></script>
    <script src="{{ asset('bundles/app/js/libs/waipoints.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/owl.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/ripple.js') }}"></script>
<script src="{{ asset('bundles/app/js/libs/progressbar.min.js') }}"></script>
<script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyATNztJYcZfP7Y5JJ2SREcBsw7xd6zhbbA&amp;'></script>
    <script src="{{ asset('bundles/app/js/libs/parallax.js') }}"></script>
    <script src="{{ asset('bundles/app/js/libs/slick.js') }}"></script>
<script src="{{ asset('bundles/app/js/scripts.js') }}"></script>
{% endblock %}
</body>

<!-- Mirrored from andriy-differ.tk/elenor/home-particlesground.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 24 Dec 2017 13:22:19 GMT -->
</html>