{% extends 'base.html.twig' %}

{% set meta_title = [] %}
{% set meta_description = [] %}
{% set headers = [] %}
{% set main_directions = [] %}
{% set privileges = [] %}

{% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':data.getClassName, 'objectId':data.id } ))|json_decode %}

 {% for key, setting in settings %}

        {% if 'meta-title' in setting.slug %}
            {% set meta_title = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'meta-description' in setting.slug %}
            {% set meta_description = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'header' in setting.slug %}
            {% set headers = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'main-directions' in setting.slug %}
            {% set main_directions = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% elseif 'privileges' in setting.slug %}
            {% set privileges = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% set settings = settings|slice(key) %}
        {% endif %}

 {% endfor %}

 {% block meta_seo %}
     <meta content="" name="description"/>
     <meta content="" name="keywords"/>
     <meta content="http://merx.usavin.com" name="author"/>
     <meta property="og:title" content="{{ meta_title.value }}"/>
     <meta property="og:type" content="website"/>
     <meta property="og:url" content="{{ path(app.request.get('_route')) }}"/>
     <meta property="og:image" content="{{ asset('bundles/app/img/logo.png') }}"/>
     <meta property="og:description"
           content="{{ meta_description.value }}"/>
     <meta property="og:image:width" content="1800"/>
     <meta property="og:image:height" content="945"/>
 {% endblock %}

{% block header %}
    <!-- Header slider -->
    {% if headers|length >0 %}

    {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':headers.objectClass, 'objectId':headers.id } ))|json_decode %}


        <header class="header header-slider">
        {% set name = [] %}
        {% set citation = [] %}
        {% set image = [] %}
            {% for key, setting in settings %}

                {% set document = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}

                {% set itemSettings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':document.objectClass, 'objectId':document.id } ))|json_decode %}

                {% for itSet in itemSettings %}
                    {% if 'name' in itSet.slug %}
                        {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':itSet.toClassName, 'objectId':itSet.toId } ))|json_decode %}
                        {#{% set itemSettings = itemSettings|slice(key) %}#}
                    {% elseif 'citation' in itSet.slug %}
                        {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':itSet.toClassName, 'objectId':itSet.toId } ))|json_decode %}
                        {#{% set itemSettings = itemSettings|slice(key) %}#}
                    {% elseif 'image' in itSet.slug %}
                        {% set image = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':itSet.toClassName, 'objectId':itSet.toId } ))|json_decode %}
                        {#{% set itemSettings = itemSettings|slice(key) %}#}
                    {% endif %}
                {% endfor %}

                <div class="item parallax-section" style="background-image: url({{ asset(image.downloadLink)|lbImageFilter('banner_home') }});"  data-stellar-background-ratio="0.5">
                    <h1>{{ name.value }} </h1>
                    <h4>{{ citation.value }}</h4>
                </div>

            {% endfor %}

        </header>
    {% endif %}
{% endblock header %}

{% block content %}

    {% if main_directions|length >0 %}

        {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':main_directions.objectClass, 'objectId':main_directions.id } ))|json_decode %}


        {% set name = [] %}
        {% set citation = [] %}
        {% set directions = [] %}
        {% for setting in settings %}
            {% if 'name' in setting.slug %}
                {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% elseif 'citation' in setting.slug %}
                {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}
            {% elseif 'direction' in setting.slug %}
                {% set directions = directions|merge([render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode]) %}
            {% endif %}
        {% endfor %}



        <section class="section icons-section">
            <div class="container">
                <h2 class="center">{#Main <span class="main-color">Elenor</span> Directions#}{{ name.value }}</h2>
                <h6 class="center">{{ citation.value }}</h6>

                <div class="row direction-flex">

                {% if directions|length > 0 %}
                    {% set name = [] %}
                    {% set citation = [] %}
                    {% set icon = [] %}

                        {% for direction in directions %}

                            {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':direction.objectClass, 'objectId':direction.id } ))|json_decode %}
                                {% for sett in settings %}
                                    {% if 'name' in sett.slug %}
                                        {% set name = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                                    {% elseif 'citation' in sett.slug %}
                                        {% set citation = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                                    {% elseif 'icon' in sett.slug %}
                                        {% set icon = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                                    {% endif %}
                        {% endfor %}
                            <div class="col-lg-8 col-xl-4">
                                <div class="item">
                                    <div class="icon">
                                        <img src="{{ asset(icon.downloadLink) }}" alt="">
                                    </div>
                                    <h4 class="title">{{ name.value }}</h4>
                                    <p>{{ citation.value }}.</p>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}

                </div>
            </div>

        </section>

{% endif %}
<!-- Image section -->
    {% if privileges|length >0 %}
        {% set settings = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':privileges.objectClass, 'objectId':privileges.id } ))|json_decode %}

        {% for key,setting in settings %}

                {% set descr = [] %}
                    {% set img = [] %}
            {% set settingsDocument = render(controller('AppBundle:Rest/ParentRest:getSettings', {'objectClass':setting.toClassName, 'objectId':setting.toId } ))|json_decode %}

            {% for sett in settingsDocument %}
                {% if 'description' in sett.slug %}
                    {% set descr = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
                {% elseif 'image' in sett.slug %}
                    {% set img = render(controller('AppBundle:Rest/ParentRest:getInfo', {'objectClass':sett.toClassName, 'objectId':sett.toId } ))|json_decode %}
               {% endif %}
            {% endfor %}

         {% if key%2==0 %}
    <section class="section grey-section image-section">
        <div class="row">
            <div class="col-lg-6 image item" style="background-image:url('{{ asset(img.downloadLink)|lbImageFilter('list_big') }}')">
                <img src="{{ asset(img.downloadLink)|lbImageFilter('list_smal') }}" class="img-responsive" alt="">
            </div>
            <div class="col-lg-6 content item">
                <div class="wrap">
                    {#<h2>Optimized for mobile</h2>#}
                    {{ descr.value|raw }}
                   {# <a href="#" class="btn btn1">
                        <div class="mask">Read More</div>
                        <span>Read More</span>
                    </a>#}
                </div>
            </div>
        </div>
</section>
             {% else %}
                 <section class="section grey-section image-section">
                     <div class="row">

                         <div class="col-lg-6 content item">
                             <div class="wrap">
                                 {#<h2>Optimized for mobile</h2>#}
                                 {{ descr.value|raw }}
                                 {# <a href="#" class="btn btn1">
                                      <div class="mask">Read More</div>
                                      <span>Read More</span>
                                  </a>#}
                             </div>
                         </div>
                         <div class="col-lg-6 image item" style="background-image:url('{{ asset(img.downloadLink)|lbImageFilter('list_big') }}')">
                             <img src="{{ asset(img.downloadLink)|lbImageFilter('list_smal') }}" class="img-responsive" alt="">
                         </div>
                     </div>
                 </section>
             {% endif %}
{% endfor %}

{#<!-- Image section -->
<section class="section grey-section image-section">
    <div class="row">
        <div class="col-lg-6 content item">
            <div class="wrap">
                <h2>Page Speed Optimized</h2>
                <p>Our strong conviction is that if a business is to be optimized, it’s to be optimized in a full cycle
                    manner!</p>
                <p>Our goal is simple; we want to help your business achieve the greatest possible success by providing
                    the valuable services you need at a reasonable cost. We believe all businesses small and large
                    should have access to world-class accounting, bookkeeping, payroll and consulting services. We are
                    dedicated to serving you.</p>
                <a href="#" class="btn btn1">
                    <div class="mask">Read More</div>
                    <span>Read More</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 image item" style="background-image:url('{{ asset('bundles/app/img/speed.jpg') }}')">
            <img src="{{ asset('bundles/app/img/speed.jpg') }}" class="img-responsive" alt="">
        </div>
    </div>
</section>#}
{% endif %}
{% endblock content %}
