<figure data-shortcode="caption" id="attachment_7"
        class="wp-caption alignnone mnmd-post-media-wide"><img
            class="wp-image-7 size-full" src="{{ asset(element.downloadLink) }}"
            alt="{{ element.title }}">
    <figcaption class="wp-caption-text">{{ element.title }}</figcaption>
</figure>