@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

.up, h1 {
    line-height: 45px
}

h4, h5 {
    line-height: 25px
}

h5, h6 {
    letter-spacing: normal;
    margin: 18px 0 13px
}

.video-header, body.preload {
    overflow: hidden
}

.main-color {
    color: #05afd1
}

body.preload {
    width: 100vw;
    height: 100vh
}

.preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10000000
}

.header-slider .item, .mini-header {
    min-height: 600px;
    -webkit-box-orient: vertical
}

.preloader-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px)
}

.box, .box:after, .box:before {
    position: absolute;
    width: 30px;
    height: 30px
}

.loader {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(45deg) rotate(45deg);
    transform: rotateX(45deg) rotate(45deg)
}

.box {
    top: 0;
    left: 0;
    background: #29d7fa;
    -webkit-box-shadow: 112.5px 112.5px 20px rgba(0, 0, 0, .3);
    box-shadow: 112.5px 112.5px 20px rgba(0, 0, 0, .3);
    -webkit-animation: move 2s ease-in-out infinite both;
    animation: move 2s ease-in-out infinite both;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.box:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.box:nth-child(2) {
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.box:nth-child(3) {
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.box:after, .box:before {
    display: block;
    content: ""
}

.box:before {
    top: 100%;
    left: 0;
    background: #05afd1;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

.box:after {
    top: 0;
    left: 100%;
    background: #035c6d;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg)
}

@-webkit-keyframes move {
    0%, 100% {
        -webkit-transform: none;
        transform: none
    }
    12.5% {
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0)
    }
    25% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0)
    }
    37.5% {
        -webkit-transform: translate(60px, 30px);
        transform: translate(60px, 30px)
    }
    50% {
        -webkit-transform: translate(60px, 60px);
        transform: translate(60px, 60px)
    }
    62.5% {
        -webkit-transform: translate(30px, 60px);
        transform: translate(30px, 60px)
    }
    75% {
        -webkit-transform: translate(0, 60px);
        transform: translate(0, 60px)
    }
    87.5% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px)
    }
}

@keyframes move {
    0%, 100% {
        -webkit-transform: none;
        transform: none
    }
    12.5% {
        -webkit-transform: translate(30px, 0);
        transform: translate(30px, 0)
    }
    25% {
        -webkit-transform: translate(60px, 0);
        transform: translate(60px, 0)
    }
    37.5% {
        -webkit-transform: translate(60px, 30px);
        transform: translate(60px, 30px)
    }
    50% {
        -webkit-transform: translate(60px, 60px);
        transform: translate(60px, 60px)
    }
    62.5% {
        -webkit-transform: translate(30px, 60px);
        transform: translate(30px, 60px)
    }
    75% {
        -webkit-transform: translate(0, 60px);
        transform: translate(0, 60px)
    }
    87.5% {
        -webkit-transform: translate(0, 30px);
        transform: translate(0, 30px)
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #323336
}

h1 {
    font-size: 44px;
    margin: 40px 0 32px
}

h2 {
    font-size: 36px;
    line-height: 32px;
    margin: 27px 0 18px
}

h3 {
    font-size: 28px;
    letter-spacing: normal;
    line-height: 33px;
    margin: 26px 0 16px
}

h4 {
    font-size: 24px;
    letter-spacing: normal;
    margin: 21px 0 19px
}

.up, h5 {
    font-size: 20px
}

h6 {
    font-size: 18px;
    line-height: 18px
}

body, p {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 1.9;
    font-size: 15px
}

body {
    max-width: 2000px;
    margin: 0 auto
}

p {
    color: #6b6d6f;
    margin: 0 0 10px;
    font-weight: 400
}

strong {
    font-weight: 500
}

@media (min-width: 992px) {
    .nav {
        position: absolute;
        max-width: 2000px;
        margin: 0 auto;
        right: 0;
        top: 0;
        left: 0;
        -webkit-transition: .4s all ease;
        -o-transition: .4s all ease;
        transition: .4s all ease;
        width: 100%;
        z-index: 29;
        font-family: Poppins, Arial, Helvetica, sans-serif
    }

    .nav ul {
        list-style-type: none
    }

    .nav > .container {
        width: 100%;
        padding: 0 100px
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nav > .container {
        padding: 0 25px
    }
}

@media (min-width: 992px) {
    .nav .menu-flex, .nav .menu-flex .logo {
        display: -webkit-box;
        display: -ms-flexbox
    }

    .nav .menu-flex {
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .nav .menu-flex .menu-toggle {
        display: none
    }

    .nav .menu-flex .logo {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .nav .menu-flex .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 36px;
        font-family: Montserrat, Arial, Helvetica, sans-serif
    }

    .nav .menu-flex .logo a img {
        height: 42px;
        width: auto;
        -o-object-fit: contain;
        object-fit: contain;
        display: block;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content
    }

    .nav .menu-flex .menu-wrap .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        list-style-type: none
    }

    .nav .menu-flex .menu-wrap .menu > li {
        position: relative
    }

    .nav .menu-flex .menu-wrap .menu > li > a {
        padding: 38px 3px 5px;
        margin: 0 12px 17px;
        border-bottom: 2px solid rgba(45, 78, 83, 0);
        letter-spacing: .5px;
        z-index: 1;
        text-shadow: none;
        -webkit-transition: .4s all ease;
        -o-transition: .4s all ease;
        transition: .4s all ease;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-color: transparent;
        font-size: 14px;
        line-height: 20px;
        display: block;
        font-weight: 400;
        color: #fff;
        text-decoration: none
    }

    .nav .menu-flex .menu-wrap .menu > li > a:hover {
        text-decoration: underline
    }

    .nav .menu-flex .menu-wrap .menu > li.buyer a {
        color: #32e430;
        font-weight: 700
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li.menu-item-has-children > a:after, .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > a:after {
        content: "\f105";
        font-family: FontAwesome;
        font-weight: 100;
        text-transform: none;
        font-size: 14px;
        top: 14px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > a:after {
        display: inline-block;
        padding-left: 7px;
        line-height: 1;
        right: 10px
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu {
        list-style-type: none;
        background: #303036;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
        margin: 0;
        display: block;
        pointer-events: none;
        opacity: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        position: absolute;
        z-index: 50;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li {
        position: relative
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li:hover a {
        padding-left: 4px;
        padding-right: 22px;
        color: #fff
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li a {
        color: rgba(255, 255, 255, .7);
        display: block;
        text-decoration: none;
        min-width: 160px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 26px;
        font-size: 14px;
        line-height: 25px;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all;
        position: relative
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li.menu-item-has-children > a:after {
        display: block;
        line-height: 1;
        right: 17px;
        position: absolute
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li > .sub-menu {
        left: 100%;
        top: 0;
        -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
        transform: translateX(-5px);
        list-style-type: none;
        background: #303036;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, .2);
        margin: 0;
        display: block;
        pointer-events: none;
        opacity: 0;
        padding: 10px 10px 10px 20px;
        position: absolute;
        z-index: 51;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li > .sub-menu li a {
        color: rgba(255, 255, 255, .7)
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li > .sub-menu li:hover a {
        padding-left: 8px;
        padding-right: 22px;
        color: #fff
    }

    .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children:hover > .sub-menu, .nav .menu-flex .menu-wrap .menu > li.menu-item-has-children > .sub-menu li:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        pointer-events: all
    }

    .nav.fixed {
        position: fixed;
        max-width: 2000px;
        margin: 0 auto;
        background: #303036
    }

    .nav.fixed .menu-flex .menu-wrap .menu > li > a {
        padding: 20px 3px 5px
    }
}

@media (max-width: 991px) {
    .nav, .nav .container {
        width: 100%
    }

    .nav .menu-flex, .nav .menu-flex .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-align: center
    }

    .nav {
        background: #323336;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100
    }

    .nav ul {
        list-style-type: none
    }

    .nav .menu-flex {
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .nav .menu-flex .logo {
        padding: 10px 0;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }

    .nav .menu-flex .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 36px;
        font-family: Montserrat, Arial, Helvetica, sans-serif
    }

    .nav .menu-flex .logo a img {
        height: 42px;
        width: auto;
        -o-object-fit: contain;
        object-fit: contain;
        display: block;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content
    }

    .nav .menu-flex .menu-toggle {
        width: 35px;
        height: 30px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        right: 15px;
        top: 15px;
        z-index: 200;
        display: block
    }

    .nav .menu-flex .menu-toggle .menu-icon {
        cursor: pointer
    }

    .nav .menu-flex .menu-toggle .menu-icon .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 5px auto;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }
}

@media (max-width: 991px) and (max-width: 1199px) {
    .nav .menu-flex .menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media (max-width: 991px) {
    .nav .menu-flex .menu-icon.active .line:nth-child(2) {
        opacity: 0
    }

    .nav .menu-flex .menu-icon.active .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg)
    }

    .nav .menu-flex .menu-icon.active .line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg)
    }

    .nav .menu-flex .menu-wrap {
        display: none;
        position: absolute;
        background: #303036;
        margin: 0 -15px;
        width: 100%;
        top: 61px;
        z-index: 2
    }

    .nav .menu-flex .menu-wrap a {
        text-decoration: none !important
    }

    .nav .menu-flex .menu-wrap .menu {
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }

    .nav .menu-flex .menu-wrap .menu ul {
        list-style-type: none
    }

    .nav .menu-flex .menu-wrap .menu li {
        color: #fff
    }

    .nav .menu-flex .menu-wrap .menu li .sub-menu {
        padding-left: 20px;
        list-style-type: none;
        background: #323336;
        display: none
    }

    .nav .menu-flex .menu-wrap .menu li a {
        padding: 10px 30px 10px 15px;
        font-family: Poppins, Arial, Helvetica, sans-serif;
        font-size: 14px;
        display: block;
        line-height: 1.4;
        position: relative;
        text-decoration: none
    }

    .nav .menu-flex .menu-wrap .menu li.menu-item-has-children > a:after {
        content: "\f105";
        font-family: FontAwesome;
        font-weight: 100;
        text-transform: none;
        font-size: 14px;
        display: block;
        line-height: 1;
        right: 15px;
        top: 12px;
        position: absolute;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
}

.btn, .btn:hover {
    text-decoration: none
}

.header h1, .header h4, .mini-header h1, .mini-header h4 {
    color: #32afd2;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    z-index: 2
}

.header, .header h1, .header h4, .mini-header, .mini-header h1, .mini-header h4 {
    position: relative
}

.header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.header h1 {
    font-size: 89px;
    text-align: center;
    display: block;
    line-height: 1;
    margin: 0 0 16px;
    font-weight: 600;
    padding: 0 15px
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 60px
    }
}

@media (max-width: 550px) {
    .header h1 {
        font-size: 43px;
        margin-bottom: 10px
    }
}

.header h4 {
    text-align: center;
    font-size: 18px;
    line-height: 39px;
    font-weight: 300;
    padding: 0 15px;
    margin: 0
}

@media (max-width: 768px) {
    .header h4 {
        font-size: 16px;
        margin: 0;
        line-height: 1.6
    }
}

.mini-header {
    height: auto;
    padding: 150px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%
}

.mini-header .btn {
    display: inline-block;
    margin-top: 25px
}

.mini-header h1 {
    font-size: 70px;
    display: block;
    line-height: 1;
    margin: 0 0 16px;
    font-weight: 600
}

@media (max-width: 768px) {
    .mini-header h1 {
        font-size: 60px
    }
}

@media (max-width: 550px) {
    .mini-header h1 {
        font-size: 43px;
        margin-bottom: 10px
    }
}

.mini-header h4 {
    font-size: 18px;
    line-height: 39px;
    font-weight: 300;
    padding: 0;
    margin: 0
}

@media (max-width: 768px) {
    .mini-header h4 {
        font-size: 16px;
        margin: 0;
        line-height: 1.6
    }
}

.video-header .z-index {
    z-index: 10
}

.video-header:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, .4)
}

.header-slider .item, .header-slider .slick-slide {
    background-size: cover;
    background-repeat: no-repeat
}

.video-header .video {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header #dots-canvas, .header #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.header-slider {
    width: 100%;
    display: block
}

.header-slider .item {
    height: 100vh;
    max-height: 1080px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative
}

.header-slider .next, .header-slider .prev {
    top: 50%;
    height: 55px;
    width: 55px;
    line-height: 55px;
    background-color: #fff;
    z-index: 10;
    font-size: 22px;
    color: #323336;
    cursor: pointer;
    text-align: center
}

.header-slider .prev {
    position: absolute;
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-15px);
    -ms-transform: translateY(-50%) translateX(-15px);
    transform: translateY(-50%) translateX(-15px);
    -webkit-transition: all ease .6s;
    -o-transition: all ease .6s;
    transition: all ease .6s;
    opacity: .6
}

.header-slider .prev:hover {
    -webkit-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
    opacity: 1
}

.header-slider .next {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%) translateX(15px);
    -ms-transform: translateY(-50%) translateX(15px);
    transform: translateY(-50%) translateX(15px);
    -webkit-transition: all ease .6s;
    -o-transition: all ease .6s;
    transition: all ease .6s;
    opacity: .6
}

.page-header .breadcrumbs li a, .page-header .breadcrumbs li span, .page-header h2 {
    color: #fff;
    z-index: 2;
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.header-slider .next:hover {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0)
}

@media (max-width: 767px) {
    .header-slider .next, .header-slider .prev {
        display: none !important
    }
}

.header-slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    list-style-type: none
}

.header-slider .slick-dots li {
    list-style-type: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: .6;
    border-radius: 50%;
    margin: 0 8px
}

.header-slider .slick-dots li.slick-active {
    opacity: 1
}

.header-slider .slick-dots li button {
    display: none
}

.page-header {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px
}

.page-header h2 {
    font-size: 40px;
    display: block;
    line-height: 1.3;
    margin: 0 0 16px;
    font-weight: 600;
    position: relative
}

@media (max-width: 768px) {
    .page-header h2 {
        font-size: 60px
    }
}

@media (max-width: 550px) {
    .page-header h2 {
        font-size: 43px;
        margin-bottom: 10px
    }
}

.page-header .breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none
}

.page-header .breadcrumbs li a, .page-header .breadcrumbs li span {
    text-align: center;
    font-size: 18px;
    line-height: 39px;
    font-weight: 300;
    padding: 0;
    margin: 0;
    position: relative
}

@media (max-width: 768px) {
    .page-header .breadcrumbs li a, .page-header .breadcrumbs li span {
        font-size: 16px;
        margin: 0;
        line-height: 1.6
    }
}

.page-header .breadcrumbs li a {
    text-decoration: none;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.page-header .breadcrumbs li a:hover {
    color: #05afd1
}

.page-header .breadcrumbs .separator {
    font-size: 18px;
    line-height: 39px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0 10px
}

@media (max-width: 575px) {
    .page-header {
        text-align: center
    }

    .page-header .breadcrumbs {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.parallax-section {
    background-size: cover
}

@media (max-width: 1024px) {
    .parallax-section {
        background-attachment: scroll;
        background-position: center center
    }
}

html, html body {
    overflow-x: hidden
}

@media (min-width: 992px) {
    html .mfp-wrap::-webkit-scrollbar-track, html body::-webkit-scrollbar-track {
        background-color: #fff
    }

    html .mfp-wrap::-webkit-scrollbar, html body::-webkit-scrollbar {
        width: 8px;
        background-color: #05afd1
    }

    html .mfp-wrap::-webkit-scrollbar-thumb, html body::-webkit-scrollbar-thumb {
        background-color: #05afd1
    }
}

.ie-support {
    display: none
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    .ie-support {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        min-height: 100vh;
        min-width: 100vw;
        background-image: none !important;
        text-align: center;
        background-color: #000 !important;
        font-size: 18px;
        z-index: 100000000000000000000000000000000000
    }

    .ie-support a {
        color: red
    }
}

.up {
    position: fixed;
    bottom: 20px;
    right: -100px;
    z-index: 100;
    width: 45px;
    height: 45px;
    border-radius: 2px;
    background: #05afd1;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    opacity: 0;
    pointer-events: none
}

.btn span:not(.mask), .mask {
    min-width: 120px;
    font-size: 18px;
    cursor: pointer
}

.btn-wrap, .image-section .content {
    display: -webkit-box;
    display: -ms-flexbox
}

.up.active {
    opacity: 1;
    right: 20px;
    pointer-events: all
}

#dot-canvas .pg-canvas, .btn span:not(.mask), .mask {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.up:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    background: #04859f
}

.img-responsive {
    width: 100%;
    height: auto
}

.img-circle {
    border-radius: 50%
}

.full-container {
    width: 100%;
    padding: 0 15px
}

.slash-divider {
    margin-right: 7px;
    margin-left: 7px
}

#dot-canvas .pg-canvas {
    position: absolute;
    width: 100%;
    height: 100%
}

.btn, .relative {
    position: relative
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.no-margin {
    margin: 0
}

.no-padding {
    padding: 0
}

.p15 {
    padding: 0 15px
}

video::-webkit-media-controls {
    overflow: hidden !important
}

video::-webkit-media-controls-enclosure {
    width: calc(100% + 32px);
    margin-left: auto
}

.center {
    text-align: center
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.btn-wrap {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px
}

.btn, .btn span:not(.mask), .mask {
    display: block;
    height: 50px;
    font-weight: 500
}

.white {
    color: #fff !important
}

.btn {
    width: auto;
    line-height: 50px;
    color: #323336
}

.btn-white {
    background: 0 0;
    color: #fff
}

.mask {
    border: 2px solid #323336;
    line-height: 48px;
    color: #323336;
    position: absolute;
    width: 100%;
    text-align: center
}

.btn-white .mask {
    color: #fff;
    border: 2px solid #fff
}

.btn span:not(.mask) {
    position: relative;
    background: #323336;
    padding: 0 35px;
    line-height: 50px;
    border: none;
    color: #fff;
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.small, .small .mask, .small span:not(.mask) {
    height: 45px;
    line-height: 45px;
    font-size: 16px
}

.btn-white span:not(.mask) {
    background: #fff;
    color: #323336
}

.btn1 span:not(.mask) {
    -webkit-mask: url(../img/buttons/btn-mask1.png);
    mask: url(../img/buttons/btn-mask1.png);
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    -webkit-animation: ani2 .7s steps(29) forwards;
    animation: ani2 .7s steps(29) forwards
}

.btn2 span:not(.mask) {
    -webkit-mask: url(../img/buttons/btn-mask2.png);
    mask: url(../img/buttons/btn-mask2.png);
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    -webkit-animation: ani2 .7s steps(22) forwards;
    animation: ani2 .7s steps(22) forwards
}

.btn3 span:not(.mask) {
    -webkit-mask: url(../img/buttons/btn-mask3.png);
    mask: url(../img/buttons/btn-mask3.png);
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    -webkit-animation: ani2 .7s steps(70) forwards;
    animation: ani2 .7s steps(70) forwards
}

.btn1 span:not(.mask):hover {
    -webkit-animation: ani .7s steps(29) forwards;
    animation: ani .7s steps(29) forwards
}

.btn2 span:not(.mask):hover {
    -webkit-animation: ani .7s steps(22) forwards;
    animation: ani .7s steps(22) forwards
}

.btn3 span:not(.mask):hover {
    -webkit-animation: ani .7s steps(70) forwards;
    animation: ani .7s steps(70) forwards
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0
    }
}

.rounded, .rounded .mask, .rounded span {
    border-radius: 30px
}

.small span:not(.mask) {
    padding: 0 20px
}

.small .mask {
    min-width: 100px
}

.section {
    padding: 90px 0
}

@media (max-width: 991px) {
    .section {
        padding: 70px 0
    }
}

.section h2 {
    font-weight: 600;
    line-height: 1.4
}

@media (max-width: 768px) {
    .section h2 {
        margin-top: 0;
        font-size: 30px
    }
}

.section .row.margin {
    margin-top: 80px
}

.section h6 {
    line-height: 1.9;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    font-size: 16px;
    color: #6b6d6f
}

@media (max-width: 768px) {
    .section h6 {
        line-height: 1.6;
        font-size: 16px
    }
}

.grey-section {
    background: #eee
}

.image-section {
    padding: 0
}

.image-section .row {
    margin: 0
}

.image-section .item {
    padding: 110px 50px
}

.image-section .image {
    background-size: cover;
    background-position: center
}

.image-section .image img {
    display: none
}

@media (max-width: 991px) {
    .image-section .image {
        padding: 0;
        height: auto;
        background: 0 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }

    .image-section .image img {
        display: block
    }
}

.masonry-list .item-grid .hover, .portfolio-section .masonry-grid .item .hover {
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    left: 0;
    right: 0;
    text-decoration: none
}

.image-section .content {
    padding: 110px 50px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media (max-width: 991px) {
    .image-section .content {
        padding: 70px 15px;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2
    }
}

.image-section .content .wrap, .portfolio-section .masonry-grid .item .hover {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal
}

.image-section .content .wrap {
    max-width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}

.image-section .content h2 {
    text-align: left;
    margin-top: 0
}

.image-section .content p, .image-section .content strong {
    margin-bottom: 15px;
    display: block
}

.image-section .content .btn {
    margin-top: 20px
}

.portfolio-section {
    padding-bottom: 0
}

.portfolio-section h2 {
    margin-bottom: 0
}

.portfolio-section .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style-type: none
}

.portfolio-section .filters.start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.portfolio-section .filters li {
    list-style-type: none;
    margin: 15px 15px 0
}

.portfolio-section .filters li a {
    text-decoration: none;
    padding-bottom: 4px
}

.portfolio-section .filters li a.active {
    border-bottom: 2px solid #05afd1
}

.portfolio-section .masonry-grid {
    margin-top: 40px;
    overflow: hidden
}

.portfolio-section .masonry-grid .item {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: block
}

.portfolio-section .masonry-grid .item img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.portfolio-section .masonry-grid .item .hover {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    -webkit-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    -o-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

.portfolio-section .masonry-grid .item .hover .title {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5px
}

.portfolio-section .masonry-grid .item .hover .cat {
    color: #fff;
    text-decoration: none
}

@media (max-width: 600px) {
    .portfolio-section .masonry-grid .item .hover {
        padding: 10px
    }

    .portfolio-section .masonry-grid .item .hover .title {
        font-size: 14px;
        text-align: center
    }

    .portfolio-section .masonry-grid .item .hover .cat {
        font-size: 12px;
        text-align: center
    }
}

.portfolio-section .masonry-grid .item:hover img {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.portfolio-section .masonry-grid .item:hover .hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.masonry-list {
    margin: 60px auto
}

.masonry-list .item {
    padding: 0
}

.masonry-list .item-grid {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px
}

.masonry-list .item-grid img {
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.masonry-list .item-grid .hover {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    -webkit-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    -o-transition: all .3s cubic-bezier(.3, .1, .58, 1);
    transition: all .3s cubic-bezier(.3, .1, .58, 1);
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5)
}

.masonry-list .item-grid .hover .title {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5px
}

.masonry-list .item-grid .hover .cat {
    color: #fff;
    text-decoration: none
}

@media (max-width: 600px) {
    .masonry-list .item-grid .hover {
        padding: 10px
    }

    .masonry-list .item-grid .hover .title {
        font-size: 14px;
        text-align: center
    }

    .masonry-list .item-grid .hover .cat {
        font-size: 12px;
        text-align: center
    }
}

.masonry-list .item-grid:hover img {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3)
}

.masonry-list .item-grid:hover .hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.testimonials-slider {
    background-size: cover;
    background-repeat: no-repeat
}

.testimonials-slider .testimonials-slider-wrap {
    position: relative
}

.testimonials-slider .testimonials-slider-wrap .container, .testimonials-slider .testimonials-slider-wrap .owl-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 991px) {
    .testimonials-slider .testimonials-slider-wrap .owl-item {
        padding: 0 15px
    }
}

.testimonials-slider .testimonials-slider-wrap .owl-dots {
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.testimonials-slider .testimonials-slider-wrap .owl-dots .owl-dot {
    padding: 6px;
    position: relative;
    cursor: pointer
}

.testimonials-slider .testimonials-slider-wrap .owl-dots .owl-dot span {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    width: 6px;
    height: 6px;
    display: block;
    position: relative;
    border-radius: 50%;
    -webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .27s cubic-bezier(0, 0, .58, 1);
    transition: all .27s cubic-bezier(0, 0, .58, 1);
    background: #fff
}

.testimonials-slider .testimonials-slider-wrap .owl-dots .owl-dot.active span {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.testimonials-slider .testimonials-slider-wrap .owl-prev {
    position: absolute;
    left: 25px;
    top: 50%;
    margin: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    -webkit-transform: translateX(-50px) translateY(-50%);
    -ms-transform: translateX(-50px) translateY(-50%);
    transform: translateX(-50px) translateY(-50%);
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .27s cubic-bezier(0, 0, .58, 1);
    transition: all .27s cubic-bezier(0, 0, .58, 1)
}

.testimonials-slider .testimonials-slider-wrap .owl-next {
    position: absolute;
    right: 25px;
    top: 50%;
    margin: auto;
    color: #fff;
    font-size: 40px;
    font-weight: 100;
    -webkit-transform: translateX(50px) translateY(-50%);
    -ms-transform: translateX(50px) translateY(-50%);
    transform: translateX(50px) translateY(-50%);
    cursor: pointer;
    -webkit-transition: all .27s cubic-bezier(0, 0, .58, 1);
    -o-transition: all .27s cubic-bezier(0, 0, .58, 1);
    transition: all .27s cubic-bezier(0, 0, .58, 1);
    opacity: 0
}

@media (max-width: 991px) {
    .testimonials-slider .testimonials-slider-wrap .owl-next, .testimonials-slider .testimonials-slider-wrap .owl-prev {
        display: none
    }
}

.testimonials-slider .testimonials-slider-wrap:hover .owl-next, .testimonials-slider .testimonials-slider-wrap:hover .owl-prev {
    -webkit-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
    opacity: 1
}

.testimonials-slider .testimonials-slider-wrap .ts-author-cont {
    padding-top: 70px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #e6e6e6
}

.testimonials-slider .testimonials-slider-wrap .ts-author-img {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 128px
}

.testimonials-slider .testimonials-slider-wrap .ts3-author-cont {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.testimonials-slider .testimonials-slider-wrap .ts3-author-img {
    margin: 0 auto 20px;
    width: 128px
}

.testimonials-slider .testimonials-slider-wrap .ts3-author-img img {
    width: 100%;
    height: auto
}

.testimonials-slider .testimonials-slider-wrap .testimonial-3 p {
    margin-bottom: 24px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    font-style: normal;
    color: #fff
}

.testimonials-slider .testimonials-slider-wrap .testimonial-3 {
    padding: 10px 20px;
    margin: 25px 0 15px;
    border-left: none
}

.testimonials-slider .testimonials-slider-wrap .testimonial-3:before {
    content: "\f10d";
    position: absolute;
    left: 0;
    line-height: 40px;
    color: rgba(255, 255, 255, .7);
    font: normal normal normal 18px/1 FontAwesome;
    font-weight: 100
}

@media (max-width: 768px) {
    .testimonials-slider .testimonials-slider-wrap .testimonial-3 {
        padding: 0
    }

    .testimonials-slider .testimonials-slider-wrap .testimonial-3:before {
        display: none
    }
}

.testimonials-slider .testimonials-slider-wrap .ts-name {
    color: #fff;
    text-align: center
}

.testimonials-slider .testimonials-slider-wrap .ts-type {
    color: #fff;
    text-align: center;
    opacity: .7
}

.team-section {
    padding-bottom: 40px
}

.team-grid .item {
    margin-bottom: 60px
}

.team-grid .position {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #949599;
    line-height: 1
}

.team-grid .name {
    text-align: center;
    margin: 0;
    font-size: 24px;
    line-height: 1.33
}

.team-grid .image-team {
    position: relative
}

.team-grid .image-team img {
    width: 100%;
    display: block;
    height: auto
}

.team-grid .image-team .hover, .team-grid .image-team .hover .social {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    opacity: 0
}

.team-grid .image-team .hover {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .85);
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 25px 30px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    pointer-events: none
}

.team-grid .image-team .hover .description {
    text-align: center;
    color: #fff;
    font-size: 16px;
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

@media (max-width: 1200px) and (min-width: 992px) {
    .team-grid .image-team .hover .description {
        font-size: 14px
    }
}

@media (max-width: 400px) {
    .team-grid .image-team .hover .description {
        font-size: 14px
    }
}

.team-grid .image-team .hover .social {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.team-grid .image-team .hover .social .bar {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none !important;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.team-grid .image-team .hover .social .bar span {
    font-size: 15px;
    color: #323336;
    display: block;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.direction-flex .item, .promo .flex {
    display: -webkit-box;
    display: -ms-flexbox
}

.team-grid .image-team .hover .social .bar:hover {
    background: #05afd1
}

.team-grid .image-team .hover .social .bar:hover span {
    color: #fff
}

.team-grid .image-team .hover:hover .description, .team-grid .image-team .hover:hover .social {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.team-grid .image-team:hover .hover {
    opacity: 1;
    pointer-events: all
}

.promo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 70px 0
}

.promo .flex {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.promo .title {
    margin: 25px 50px 25px 0;
    color: #fff;
    font-weight: 500
}

@media (max-width: 820px) {
    .promo .title {
        text-align: center;
        margin: 25px auto
    }
}

.direction-flex {
    margin-top: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.direction-flex .item {
    margin-bottom: 50px;
    border: 1px solid #eee;
    padding: 45px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

@media (max-width: 480px) {
    .direction-flex .item {
        padding: 45px 20px
    }
}

.direction-flex .item:hover {
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2)
}

.direction-flex .item p {
    text-align: center;
    margin-bottom: 0;
    font-size: 14px
}

.direction-flex .item .title {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 700
}

.direction-flex .item .icon {
    padding: 35px;
    border-radius: 50%;
    margin-bottom: 28px;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.blog-flex {
    margin-top: 60px
}

.blog-flex .item {
    margin-bottom: 30px
}

.blog-flex .item .thumbnail {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative
}

.blog-flex .item .thumbnail img {
    display: block;
    width: 100%;
    height: auto
}

.blog-flex .item .thumbnail .categories {
    position: absolute;
    left: 0;
    top: 20px;
    background: rgba(255, 255, 255, .85);
    color: #323336;
    padding: 12px 25px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -webkit-box-shadow: 0 0 25px -2px rgba(102, 100, 102, .35);
    box-shadow: 0 0 25px -2px rgba(102, 100, 102, .35)
}

.blog-flex .item .actions, .blog-flex .item .content .date {
    font-weight: 500;
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.blog-flex .item .thumbnail:hover .categories {
    background: #05afd1;
    color: #fff
}

.blog-flex .item .content {
    padding: 18px;
    border: 1px solid #eee;
    border-top: none
}

.blog-flex .item .content .date {
    display: block;
    color: #05afd1;
    margin-bottom: 18px;
    padding-bottom: 6px;
    position: relative
}

.blog-flex .item .content .date:after {
    background: #05afd1;
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    bottom: 0;
    position: absolute
}

.blog-flex .item .actions {
    padding: 15px 18px;
    border: 1px solid #eee;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #959595
}

.blog-flex .item .actions .action-item {
    margin-right: 10px;
    line-height: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.blog-flex .item .actions .action-item:last-child {
    margin-right: 0
}

.blog-flex .item .actions .action-item .fa {
    font-size: 1.2em;
    margin-right: 4px;
    line-height: 15px
}

.blog-flex .item .actions .action-item .comments {
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.blog-flex .item .actions .action-item .comments .fa, .blog-flex .item .actions .action-item .views .fa {
    margin-right: 7px
}

.blog-flex .item .actions .action-item .views {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.blog-flex .item .actions .action-item a {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none
}

.blog-flex .item .actions .action-item a:hover {
    color: #05afd1
}

.blog-flex .item a {
    text-decoration: none
}

.blog-flex .item .title {
    font-weight: 600;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #323336;
    text-decoration: none !important;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 1
}

.blog-flex .item .title:hover {
    color: #05afd1;
    text-decoration: none !important
}

.blog-flex .item p {
    margin-bottom: 0;
    font-size: 14px
}

@media (max-width: 991px) {
    .about-section .img-block {
        margin-top: 50px
    }
}

.counters-section {
    background-size: cover;
    background-position: center center;
    padding-bottom: 30px
}

.counters-section .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px
}

.counters-section .item .round {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    text-align: center
}

.counters-section .item h5 {
    text-align: center;
    color: #fff;
    margin: 15px 0 0;
    font-weight: 600
}

.work-section {
    padding-bottom: 40px
}

.work-section .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 320px;
    position: relative;
    margin-bottom: 50px
}

.work-section .item .number {
    font-size: 60px;
    font-weight: 600;
    color: #323336;
    margin-right: 25px;
    line-height: 1;
    min-width: 75px;
    text-align: center
}

.work-section .item h4 {
    margin-top: 0;
    margin-bottom: 10px
}

.work-section .item p {
    margin-bottom: 0
}

@media (max-width: 400px) {
    .work-section .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center
    }

    .work-section .item .number {
        margin: 0 0 15px
    }
}

.prices .prices-flex {
    margin-top: 60px
}

.prices .prices-flex .price-item {
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 377px;
    background: #EDEDED;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 4px;
    padding: 50px 30px 30px 35px;
    margin-bottom: 40px
}

.prices .prices-flex .price-item.active {
    -webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    transform: scale(1.08)
}

@media (max-width: 991px) {
    .work-section .row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .work-section .row .item {
        margin-left: auto;
        margin-right: auto
    }

    .prices .prices-flex .price-item {
        margin: 0 auto 40px
    }

    .services .services-flex .item-service .image .bg {
        min-height: 500px
    }
}

.prices .prices-flex .price-item .title-inner .title {
    margin: 0;
    font-size: 20px;
    color: #323336;
    font-weight: 700
}

.prices .prices-flex .price-item .title-inner span {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #6b6d6f
}

.prices .prices-flex .price-item .price-inner .price {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
    margin-top: 35px;
    display: block
}

.prices .prices-flex .price-item .description {
    list-style-type: none;
    margin-top: 35px;
    margin-bottom: 35px
}

.prices .prices-flex .price-item .description li {
    line-height: 36px;
    font-weight: 600
}

.prices .prices-flex .price-item .description li .fa {
    color: #05afd1;
    margin-right: 8px
}

.prices .prices-flex .price-item .btn {
    display: inline-block
}

.services {
    margin: 0
}

.services .services-flex {
    margin-top: 60px
}

.services .services-flex .item-service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
    background: #eee;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.services .services-flex .item-service .image .bg, .subscribe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.services .services-flex .item-service .image {
    position: relative;
    padding: 0;
    overflow: hidden
}

.services .services-flex .item-service .image .bg {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: .8s all;
    -o-transition: .8s all;
    transition: .8s all
}

.services .services-flex .item-service .content-service {
    padding: 30px 40px 25px
}

.services .services-flex .item-service .content-service .title {
    font-weight: 500;
    margin-top: 0
}

.services .services-flex .item-service .content-service .btn {
    display: inline-block;
    margin: 10px 0 0
}

.services .services-flex .item-service:hover .image .bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.subscribe {
    position: relative
}

.subscribe h2 {
    margin: 0
}

.subscribe .overlay {
    background: rgba(3, 169, 244, .8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.subscribe .newsletter-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 3px;
    background: #fff;
    margin-top: 30px;
    position: relative
}

.subscribe .newsletter-form input {
    margin: 0 10px 0 0;
    border-radius: 40px;
    border: none;
    padding: 15px 150px 15px 25px;
    background: 0 0;
    color: #323336;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px
}

@media (max-width: 700px) {
    .subscribe .newsletter-form input {
        padding: 15px 10px
    }
}

.subscribe .newsletter-form button {
    line-height: 2px;
    height: 58px;
    padding: 12px 50px !important;
    color: #fff;
    font-size: 30px;
    background: #05afd1;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0;
    margin: auto
}

.subscribe .newsletter-form button:hover {
    background: #323336
}

@media (max-width: 700px) {
    .subscribe .newsletter-form button {
        padding: 12px 38px !important
    }
}

.map {
    display: block
}

.map.wide {
    width: 100%
}

.map.boxed {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px
}

.form-sec-flex {
    margin-top: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.form {
    width: 100%
}

.form .form-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.form .form-group {
    margin-bottom: 30px
}

.form input, .form textarea {
    border: 1px solid #e9eff4;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
    height: 50px;
    width: 100%;
    padding: 6px 20px
}

.form input:focus, .form textarea:focus {
    border: 1px solid #6b6d6f
}

.form textarea {
    resize: none;
    height: 150px;
    padding: 15px 20px
}

.form button {
    border: none;
    background: 0 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    border-radius: 4px
}

.acc-wrap .accordeon-main, .acc-wrap .accorderon-text {
    border-left: solid 1px #05afd1;
    border-bottom: solid 1px #05afd1
}

.form button .mask, .form button span {
    border-radius: 4px
}

.fa-section {
    padding-top: 65px;
    padding-bottom: 15px
}

.fa-section .icons-flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.fa-section .icons-flex .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
    min-width: 300px
}

.wrap-404, .wrap-404 .links404 {
    display: -webkit-box;
    display: -ms-flexbox
}

.fa-section .icons-flex .item .title {
    font-weight: 700;
    margin: 10px 0 0;
    line-height: 1.4
}

.fa-section .icons-flex .item .description {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin: .4em 0
}

.fa-section .icons-flex .item .icon {
    font-size: 50px;
    color: #05afd1
}

.acc-wrap .accordeon-main.active *, .wrap-404 {
    color: #fff
}

.wrap-404 {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.wrap-404 h2 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4
}

@media (max-width: 660px) {
    .wrap-404 h2 {
        font-size: 30px
    }
}

.wrap-404 .links404 {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px
}

.wrap-404 .links404 a {
    margin: 10px
}

.acc-wrap .accordeon {
    margin-bottom: 20px
}

.acc-wrap .accordeon-main {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 60px;
    height: auto;
    cursor: pointer;
    border-top: solid 1px #05afd1;
    border-right: solid 1px #05afd1;
    padding-left: 60px;
    padding-right: 50px
}

.acc-wrap .accordeon-main.active .block-active {
    border-right: 1px solid #fff
}

.acc-wrap .accordeon-main.active {
    background: #05afd1
}

.acc-wrap .block-active {
    width: 60px;
    height: 100%;
    border-right: solid 1px #05afd1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

.acc-wrap .block-text {
    padding-left: 30px;
    padding-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    min-height: 60px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500
}

.acc-wrap .accorderon-text {
    padding: 23px;
    display: none;
    color: #323336;
    font-size: 18px;
    border-right: solid 1px #05afd1
}

.acc-wrap .accorderon-text p {
    font-size: 18px
}

.acc-wrap .block-text i {
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 20px;
    font-weight: 400;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.acc-wrap .accordeon-main.active .block-text i {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

@media (max-width: 768px) {
    .acc-wrap .block-active {
        width: 40px;
        font-size: 15px
    }

    .acc-wrap .block-text {
        padding: 0 10px;
        min-height: 40px
    }

    .acc-wrap h5 {
        font-size: 15px
    }

    .acc-wrap .accorderon-text p {
        font-size: 14px
    }

    .acc-wrap .accordeon-main .block-text .fa {
        display: none
    }

    .acc-wrap .accordeon-main {
        min-height: 40px;
        height: auto;
        padding-left: 40px
    }
}

.content-section h1, .content-section h2, .content-section h3, .content-section h4, .content-section h5, .content-section h6 {
    display: block;
    text-align: unset;
    margin: 12px 0;
    line-height: 1.5;
    font-weight: 600;
    color: #323336
}

.content-section ol, .content-section ul {
    padding-left: 20px
}

.content-section ol li, .content-section ul li {
    line-height: 1.9;
    font-size: 15px;
    color: #6b6d6f;
    font-weight: 400
}

.content-section .mb-100 {
    margin-bottom: 70px
}

.content-section .scroll {
    overflow-x: auto;
    max-width: 100%;
    display: block
}

.content-section table {
    width: 100%;
    border-collapse: collapse
}

.content-section table td, .content-section table th, .content-section table tr {
    padding: 8px;
    border: 1px solid #6b6d6f
}

.content-section table th {
    text-align: unset
}

.portfolio-single .description {
    margin-top: 50px
}

.portfolio-single .description .details p {
    font-size: 14px
}

.portfolio-single .description .details p strong {
    min-width: 100px;
    color: #323336;
    display: inline-block;
    font-weight: 600
}

.work-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18px 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 50px
}

.work-navigation a {
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
    color: #323336
}

.work-navigation a:hover {
    text-decoration: none;
    color: #6b6d6f
}

.related-projects .related-projects-flex .item a, .related-projects .related-projects-flex .item a:hover, .related-projects .related-projects-flex .item h6:hover {
    text-decoration: none !important
}

.work-navigation .fa {
    font-weight: 400;
    color: #323336;
    margin: 0 10px
}

.related-projects {
    margin-top: 50px
}

.related-projects .related-projects-flex {
    margin-top: 20px
}

.related-projects .related-projects-flex .item {
    margin-bottom: 35px
}

.related-projects .related-projects-flex .item img {
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    display: block
}

.related-projects .related-projects-flex .item img:hover {
    opacity: .7
}

.related-projects .related-projects-flex .item h6 {
    font-weight: 600;
    margin-top: 10px;
    color: #323336;
    font-size: 14px;
    text-decoration: none !important
}

.blog .post {
    margin-bottom: 90px
}

.blog .post .thumbnail, .blog .post .thumbnail-wrap {
    margin-bottom: 30px;
    display: block
}

.blog .post .thumbnail img {
    display: block;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.blog .post .thumbnail img:hover {
    opacity: .7
}

.blog .post .thumbnail-wrap {
    width: 100%;
    position: relative;
    text-align: center
}

.blog .post .thumbnail-wrap .post-gallery {
    display: block;
    max-width: 100%;
    overflow: hidden
}

.blog .post .thumbnail-wrap .post-gallery img {
    width: 100%;
    height: auto;
    display: block
}

.blog .post .thumbnail-wrap .post-gallery .next, .blog .post .thumbnail-wrap .post-gallery .prev {
    top: 50%;
    width: 40px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #6b6d6f;
    z-index: 100;
    font-size: 24px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    position: absolute;
    background: #fff;
    cursor: pointer
}

.blog .post .thumbnail-wrap .post-gallery .prev {
    left: 0;
    -webkit-transform: translateY(-50%) translateX(-60px);
    -ms-transform: translateY(-50%) translateX(-60px);
    transform: translateY(-50%) translateX(-60px);
    transition: .3s all
}

.blog .post .thumbnail-wrap .post-gallery .next {
    right: 0;
    -webkit-transform: translateY(-50%) translateX(60px);
    -ms-transform: translateY(-50%) translateX(60px);
    transform: translateY(-50%) translateX(60px);
    transition: .3s all
}

.pagination a, .tagcloud a {
    text-decoration: none;
    -webkit-transition: .3s all;
    -o-transition: .3s all
}

.blog .post .thumbnail-wrap .post-gallery .slick-dots {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    bottom: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none
}

.blog .post .thumbnail-wrap .post-gallery .slick-dots li {
    list-style-type: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    opacity: .7;
    margin: 0 8px;
    cursor: pointer
}

.blog .post .thumbnail-wrap .post-gallery .slick-dots li.slick-active, .blog-single .post .thumbnail img:hover {
    opacity: 1
}

.blog .post .thumbnail-wrap .post-gallery .slick-dots li button {
    display: none
}

.blog .post .thumbnail-wrap .post-gallery:hover .next, .blog .post .thumbnail-wrap .post-gallery:hover .prev {
    -webkit-transform: translateY(-50%) translateX(0);
    -ms-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0)
}

.blog .post .thumbnail-wrap video {
    width: 100%;
    height: auto;
    display: block
}

.blog .post .thumbnail-wrap .ytv-wrap {
    position: relative;
    padding-bottom: 55.5%;
    height: 0;
    margin: 0
}

.blog .post .thumbnail-wrap .ytv-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    min-width: 100%;
    height: 101%;
    z-index: 5
}

.blog .post h3 {
    font-size: 22px;
    margin: 0;
    line-height: 30px
}

.blog .post h3 a {
    text-decoration: none
}

.blog .post h3 a:hover {
    text-decoration: none;
    color: #57595e
}

.blog .post .post-prev-info {
    font-size: 13px;
    margin-bottom: 16px;
    color: #a3a6a8
}

.blog .post .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.blog .post .flex .actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.blog .post .flex .actions .item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 8px;
    line-height: 28px;
    font-size: 14px
}

.blog .post .flex .actions .item .fa {
    line-height: 28px;
    margin-right: 6px;
    display: inline-block;
    font-size: 14px
}

.pagination a, .pagination li {
    text-align: center;
    font-size: 14px;
    line-height: 20px
}

.blog .post .flex .actions .item:last-child {
    margin-right: 0
}

.blog .post .excerpt, .blog .post .excerpt p {
    font-size: 14px
}

.blog .post .permalink {
    font-weight: 400;
    font-size: 14px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #323336
}

.blog .post .permalink:hover {
    text-decoration: none;
    color: #57595e
}

.pagination {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.pagination li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 7px
}

.pagination li a {
    margin: 0
}

.pagination a {
    display: inline-block;
    margin: 0 4px 0 7px;
    color: #6b6d6f;
    padding: 8px 14px;
    border: none;
    transition: .3s all;
    min-width: 20px
}

.pagination a.current, .pagination a:hover {
    background: #eee
}

.sidebar .widget {
    margin-bottom: 65px
}

.sidebar .widget h5 {
    margin-top: 0;
    margin-bottom: 20px
}

.sidebar .widget li, .sidebar .widget ol, .sidebar .widget ul {
    list-style-type: none
}

.sidebar .widget li a {
    line-height: 2.4;
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #323336
}

.sidebar .widget li a:hover {
    text-decoration: none;
    color: #05afd1
}

.sidebar .widget_search {
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.sidebar .widget_search form {
    border-bottom: 1px solid #949599;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.sidebar .widget_search form input {
    padding: 8px 20px 8px 0;
    color: #323336;
    border: none;
    font-size: 18px
}

.sidebar .widget_search form input::-webkit-input-placeholder {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #949599
}

.sidebar .widget_search form input::-moz-placeholder {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #949599
}

.sidebar .widget_search form input:-moz-placeholder {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #949599
}

.sidebar .widget_search form input:-ms-input-placeholder {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #949599
}

.sidebar .widget_search button {
    background: 0 0;
    border: none;
    color: #949599;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px
}

.sidebar .ale_blog_widget .posts li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px
}

.sidebar .ale_blog_widget .posts li img {
    width: 70px;
    height: 70px;
    margin: 0 20px 0 0;
    display: block;
    -o-object-fit: cover;
    object-fit: cover
}

.sidebar .ale_blog_widget .posts li .date, .sidebar .ale_blog_widget .posts li .title {
    line-height: 1.8;
    font-size: 13px;
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.sidebar .ale_blog_widget .posts li .date {
    color: #949599
}

.sidebar .ale_blog_widget .posts li .title {
    color: #323336
}

.tagcloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.tagcloud a {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 4px 13px 3px;
    border: 1px solid #05afd1;
    font-size: 12px;
    transition: .3s all
}

.tagcloud a:hover {
    background: #05afd1;
    color: #fff
}

.blog-single .post {
    margin: 0
}

.blog-single .post .flex {
    margin: 30px 0
}

.comments h4 small {
    font-size: 12px;
    color: #949599
}

.comments .comment-list {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.comments .comment-list .comment-item {
    padding-top: 30px !important;
    font-size: 14px;
    overflow: hidden;
    border-top: 1px dotted #e9e9e9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.comments .comment-list .comment-item:first-child {
    border-top: 0
}

.comments .comment-list .comment-avatar {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: 20px;
    border-radius: 50%
}

.comments .comment-list .comment-author {
    font-size: 15px;
    color: #323336;
    font-family: Poppins, Arial, Helvetica, sans-serif
}

.comments .comment-list .comment-date {
    font-size: 12px;
    margin-bottom: 10px;
    color: #8f9092
}

.comments .comment-list .comment-date a {
    color: #323336
}

.comments .comment-list .comment-text {
    font-size: 14px
}

.comments .comment-list .comment-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.comments .comment-list .comment-reply {
    width: 90%
}

.footer .bot {
    background: #303036
}

@media (max-width: 768px) {
    .footer .bot .copy {
        display: block;
        text-align: center;
        width: 100%
    }
}

.footer .bot .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0 auto;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.6;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer .bot .row .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer .bot .row .social a {
    margin: 0 10px;
    font-size: 16px;
    color: #fff;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

@media (max-width: 480px) {
    .footer .bot .row .social a {
        margin: 10px
    }
}

.footer .bot .row .social a:hover {
    color: #05afd1
}

.footer .bot .row .social a:last-child {
    margin-right: 0
}

.footer .bot .row .social a:first-child {
    margin-left: 0
}

@media (max-width: 768px) {
    .footer .bot .row .social {
        width: 100%;
        margin-top: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}